<!-- templates/test.html -->
{% extends 'base.html' %}

{% block title %}Course{% endblock %}

{% block content %}
<div class="w3-container w3-teal">
    <h2>Students List</h2>
</div> 
{% if user.is_authenticated %}     
<div class = "w3-responsive">
    <table class = "w3-table-all w3-card-4">
    <thead>
      <tr>                        
        <th>Name</th>         
        <th>Last name</th>         
        <th>Class Room</th>
        <th>Course</th> 
        <th>Course Code</th> 
        <th>Lecturer</th>
        <th colspan=3>Commands</th>
      </tr>
    </thead>
    <tbody>
      {% for course in Courses %}
      <tr>        
        <td class="align-middle">{{ course.id }}</td>
        <td class="align-middle">{{ course.code }}</td> 
        <td class="align-middle">{{ course.name }}</td>            
        <td class="align-middle">{{ course.classRoom }}</td>   
        <td class="align-middle">{{ course.lecturer }}</td>        
        <td class="align-middle">
            <a href="{% url 'editcourse' course.pk %}">Modify              
        </td>
        <td class="align-middle">
            <a href="{% url 'deletecourse' course.pk %}">Delete            
        </td>
        <td class="align-middle">
            <a href="{% url 'test' %}">View Students            
        </td>
      </tr>
      {% empty %}
      <tr>
        <td>No courses yet</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>   
</div>  
  <br/><a href="{% url 'addcourse' %}">Add Course</a><br/>
{% else %}
  <p>You are not logged in</p>  
{% endif %}
{% endblock %}