<!-- templates/userslist.html -->
{% extends 'base.html' %}

{% block title %}Users{% endblock %}

{% block content %}
<div class="w3-container w3-teal">
    <h2><i class="fas fa-users" style="font-size:60px;color:rgb(208, 231, 231);text-shadow:2px 2px 4px #000000;"></i></i>&nbsp &nbspUsers List</h2>    
</div> 
{% if user.is_authenticated %}   
<div class = "w3-responsive">
    <table class="w3-table-all w3-card-4 w3-hoverable w3-centered">
    <thead>
      <tr>        
        <th>ID</th>
        <th>Name</th> 
        <th>Last Name</th>      
        <th>Type</th>   
        <th>User Name</th>         
        <th>Email</th> 
        <th>Date Joined</th>
        <th>Last Login</th>             
      </tr>
    </thead>
    <tbody>
      {% for user in Users %}
      <tr>        
        <td class="align-middle">{{ user.id }}</td>
        <td class="align-middle">{{ user.first_name }}</td> 
        <td class="align-middle">{{ user.last_name }}</td>  
        <td class="align-middle">{{ user.get_user_type_display }}</td>          
        <td class="align-middle">{{ user.username }}</td>                           
        <td class="align-middle">{{ user.email }}</td>       
        <td class="align-middle">{{ user.date_joined }}</td>       
        <td class="align-middle">{{ user.last_login }}</td>       
      </tr>
      {% empty %}
      <tr>
        <td>No users yet</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>  
</div>   
{% else %}
  <p>You are not logged in</p>  
{% endif %}
{% endblock %}